Repository ElectronicCats/arduino-day-aguascalientes2021, pull requests merged in 2021-11, with the labels that each got.

#54 Add lazy loading to images
  index.html
Labels: Improvement

#46 New section 'Programa'
  README.md
  app/css/programa.css
  app/css/styles.css
  assets/images/diodo-programa.svg
  assets/images/ponente-01.png
  assets/images/ponente-02.png
  index.html
Labels: Design, Programa, face 2

#43 Update Register > Description 2nd phase
  app/css/description2F.css
  app/css/header.css
  app/css/register.css
  app/css/styles.css
  assets/images/25-aniversario.svg
  assets/images/evento-presencial.svg
  index.html
Labels: Description, Design, face 2

#44 New section "Ponentes"
  app/css/ponentes.css
  app/css/styles.css
  assets/images/ponentes-titulo.svg
  index.html
Labels: Ponentes, face 2

#57 Update programa section
  app/css/programa.css
  index.html
Labels: Design, Programa, Improvement

#58 Update ponentes section
  assets/images/ponente-01.png
  assets/images/ponente-02.png
  assets/images/ponente_01.svg
  assets/images/ponente_02.svg
  assets/images/ponente_03.svg
  assets/images/ponente_04.svg
  assets/images/ponente_05.svg
  assets/images/ponente_06.svg
  assets/images/ponente_07.svg
  assets/images/ponente_08.svg
  assets/images/ponente_09.svg
  index.html
Labels: Ponentes, Improvement

#62 Ponentes section update
  index.html
Labels: Design, Ponentes

#65 Update programa section
  app/css/global.css
  app/css/programa.css
  index.html
Labels: Programa, face 2, Improvement

#67 Lighthouse improvements
  assets/images/25_aniversario.svg
  assets/images/evento_presencial.svg
  index.html
Labels: Design
